@import '../../sass/variables';
@import '../../sass/mixins';
.play{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 5rem;

    .triangle{
        position: absolute;
        align-self: center;
        margin-top: 5rem;
    }

    &-items{
        display: flex;
        justify-content: center;

        a{color: #ffffff00;}

        .icon{
            height: 160px;
            width: 160px;
            border: 18px solid;
            border-radius: 50%;
            position: relative;

            &:hover{
                transform: scale(1.1);

                transition: transform ease 500ms;
            }
            // z-index: 5;

            &--paper{
                
             @include icon($imagePaper, $paper-gradient);
                top: 0;
            }

            &--scissors{
               @include icon($imageScissors, $scissors-gradient);
                left: 10rem;
            }

            &--rock{
                @include icon($imageRock, $rock-gradient);
                // bottom: ;
                top: 15rem;
                // left: 0;
                right: 10rem;
            }




        }
    }
}
